@font-face {
  font-family: "Gilroy-Bold";
  src: url("./fonts/Gilroy-Bold.woff2");
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("./fonts/Gilroy-Medium.woff2");
}

@font-face {
  font-family: "Gilroy-Regular";
  src: url("./fonts/Gilroy-Regular.woff2");
}

@font-face {
  font-family: "Gilroy-Semibold";
  src: url("./fonts/Gilroy-Semibold.woff2");
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  }

  body {
    scroll-behavior: smooth;
    background: #FFFFFF;
  }

  img {
    display: block;
    max-width: 100%;
  }

  h1 {
    font-family: "Gilroy-Bold";
    font-weight: 700;
    font-size: 60px;
    line-height: 120%;
    color: #000000;
    margin-bottom: 20px;
  }

  h2 {
    width: 490px;
    font-family: "Gilroy-Regular";
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #888888;
    margin-bottom: 32px;
  }

  h3 {
    font-family: "Gilroy-Bold";
    font-weight: 700;
    font-size: 24px;
    color: #000000;
    margin-top: 25px;
    margin-bottom: 18px;
  }

  h4 {
    display: flex;
    align-content: center;
    font-family: "Gilroy-Regular";
    font-weight: 400;
    line-height: 150%;
    color: #666666;
    font-size: 14px;
    margin-bottom: 25px;
    width: 310px;
  }

  .container {
    max-width: 1174px;
    margin: 0 auto;
  }

  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header {
    margin-top: 40px;
  }

  .header__rightMenu {
    width: 577px;
    display: flex;
    justify-content: space-between;
  }

  .header a {
    font-family: "Gilroy-Regular";
    font-weight: 400;
    font-size: 14px;
    color: #000000;
  }

  #header__homeLink {
    font-family: "Gilroy-Semibold";
    font-weight: 600;
    font-size: 14px;
    color: #F25822;
  }

  .main {
    margin-top: 84px;
    margin-bottom: 100px;
  }

  .mainContent {
    display: flex;
    gap: 73px;
    margin-bottom: 200px;
  }

  .mainContent__leftSide-btns {
    display: flex;
    gap: 48px;
  }

.mainContent__leftSide-leftBtn {
  padding: 16px 10px;
  border-radius: 56px;
  background: #F25822;
  font-family: "Gilroy-Semibold";
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  width: 140px;
}

.mainContent__leftSide-rightBtn {
  font-family: "Gilroy-Semibold";
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #AAAAAA;
  border: none;
  cursor: pointer;
  background-color: #FFFFFF;
}

.logos {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.readMore {
  display: flex;
  justify-content: space-between;
  align-items:center;
  margin-bottom: 100px;
  margin-top: 100px;
}

.reedMoreLink {
  font-family: "Gilroy-Semibold";
  font-size: 14px;
  font-weight: 600;
  line-height: 150%;
  color: #000000;
}

.readMore__middlePart {
  padding: 40px 25px 30px 30px;
  background: #FFF;
  box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
  gap: 25px;
}

.arguments {
  background: #FAFAFA;
  padding-top: 100px;
  padding-bottom: 100px;
}

.arguments__title {
  display: flex;
  align-content: center;
  justify-content: center;
  font-family: "Gilroy-Bold";
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: #000000;
  margin-bottom: 24px;
}

.arguments__subTitle {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Gilroy-Regular";
  font-weight: 400;
  line-height: 140%;
  color: #888888;
  font-size: 16px;
  margin-bottom: 48px;
  width: 740px;
}

.learnMore {
  display: flex;
  gap: 20px;
}

.learnMore__card {
  text-align: center;
  background-color: #FFFFFF;
  padding-bottom: 34px;
}

.learnMore__middleCard {
  text-align: center;
  background-color: #FFFFFF;
  padding-bottom: 34px;
  background: #FFF;
  box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
  gap: 25px;
}

.learnMore__card-h3 {
  display: flex;
  justify-content: center;
  font-size: 24px;
  margin-bottom: 16px;
  margin-top: 32px;
}

.learnMore__card-h4 {
  font-size: 16px;
  margin-bottom: 24px;
  text-align: center;
  margin-left: 34px;
  margin-right: 34px;
}

.learnMore__card-btn {
  padding: 16px 32px;
  border-radius: 56px;
  background: #F25822;
  font-family: "Gilroy-Semibold";
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}